{% extends 'order/base.html' %}

{% block content %}
<h4>Twoje zamówienie zostało złożone, oto jego szczegóły: </h4>
<br/>
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <div>
            <label>Wartość zamówienia: </label>
            <p> {{ order.order_value }}zł </p>
        </div>
        <hr/>

        <div>
            <label>Adres:</label>
            <p>
                Miasto: {{ delivery.address.city }}
                <br/> Ulica: {{ delivery.address.street}} {{ delivery.address.number}}
                <br/> {{ delivery.address.zip_code}}
            </p>
        </div>
    </div>
  <a href="{% url 'book_list' %}">Wróć do strony głównej</a>
</form>
</div>
{% endblock %}