{% extends 'cart/base.html' %}

{% block content %}

<div class="row">
    <div class="container mb-4">
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Product</th>
            <th scope="col" class="left">Price</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td> {{book.title}} </td>
                <td> {{book.price}} </td>
                <td>
                    <form action="{% url 'book_remove' book.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-danger"  type="submit"><i class="glyphicon glyphicon-trash"></i> </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        {% if books %}
        <div>
            <p class="glyphicon-import">Wartość koszyka: {{cart_value}} zł.</p>
        </div>
        <div>
            <form action="{% url 'order_address' %}" method="POST" style="float:left">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger" type="submit"><i class="top-menu button">Złóż zamówienie</i></button>
            </form>}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}