{% extends 'cart/base.html' %}

{% block content %}

<div class="row">
    <div class="container mb-4">
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Produkt</th>
            <th scope="col" class="left">Cena</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td> {{book.title}} </td>
                <td> {{book.price}} </td>
                <td>
                    <form action="{% url 'book_remove' book.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-danger"  type="submit"><i class="glyphicon glyphicon-trash"></i> </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        {% if books %}
        <div>
            <p style="font-size: large; font-style: oblique">Wartość koszyka: {{cart_value}} zł.</p>
        </div>
        <div>
            <form action="{% url 'order_address' %}" method="POST" style="float:right; color: white">
                {% csrf_token %}
                <button class="top-menu button" type="submit">Złóż zamówienie</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}