{% load static %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/client.css' %}">
</head>

<body>
<div class="page-header">
    <a href="{% url 'client_login' %}" class="top-menu"><span class="glyphicon glyphicon-user"
                                                              style="float:left; color: #ffffff"></span></a>
    <a href="{% url 'client_register' %}" class="top-menu"><span class="glyphicon glyphicon-plus"
                                                                 style="float:left; color: #ffffff"></span></a>
    <h1><a href="/">Księgarnia internetowa Libro</a></h1>
</div>
<div>
    <h2>Witaj w Naszym sklepie!</h2>
    <p style="font-size: large; font-style: oblique">Znajdziesz tu duży wybór pozycji.
        <br/>Życzymy miłych i udanych zakupów.</p>
    <br/>
    <table id="table">
        <tr>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Old-Camera-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Clapper-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/3D-Glasses-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Cd-Rom-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Vhs-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Studio-Mic-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Cd-Rom-icon.png">
            </td>
        </tr>
        <tr>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Old-Video-Cam-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Dslr-Camera-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Photo-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Old-Camera-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Clapper-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/3D-Glasses-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Cd-Rom-icon.png">
            </td>
        </tr>
        <tr>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Cd-Rom-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Vhs-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Studio-Mic-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Old-Video-Cam-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Dslr-Camera-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Photo-icon.png">
            </td>
            <td style="padding: 50px">
                <img src="https://icons.iconarchive.com/icons/designbolts/free-multimedia/128/Old-Camera-icon.png">
            </td>
        </tr>
    </table>
</div>
</body>
</html>